body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

tr:nth-last-of-type(even) {
    background-color: rgb(233, 234, 237);
}

tr:first-of-type {
    background-color: rgb(15, 112, 235);
    font-weight: 800;
}

tr:first-of-type td:first-child {
    vertical-align: middle;
}

tr:nth-of-type(2) {
    background-color: rgb(15, 112, 235);
}

td:first-child:not(.class) {
    background-color: rgb(74, 165, 86);
}

tr:nth-last-of-type(even) td:first-child:not(.class) {
    background-color: rgb(96, 208, 85);
}

td {
    text-align: center;
    padding: 20px 80px;
    color: white;
}

td:not(.class) ~ td {
    color: grey;
}

tr td span {
    font-weight: 800;
    font-size: 1.5em;
}

tr:last-of-type td {
    padding: 8px;
}

tr td button {
    background-color: rgb(15, 112, 235);
    font-size: 1.1em;
    border: none;
    border-radius: 8px;
    padding: 10px 30px;
    color: white;
}