/* h2, p, button, section, header, main {
    border: 1px solid rgba(102, 102, 102, 0.363);
} */

.main {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100%;
    padding: 4em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.header {
    text-align: center;
}

.main-name {
    font-size: 2.4rem;
    margin: 0 0 1.4rem 0;
}

.main-par {
    padding: 0 0 2rem 0;
}

.types {
    display: flex;
    justify-content: center;
}

.type-plan {
    text-align: center;
    margin: 0 0.4rem;
}

.type-plan:hover .name-plan {
    background-color: rgb(102, 102, 102);
}

.name-plan {
    background-color: black;
    color: white;
    font-size: 1.4rem;
    padding: 1.6rem 10rem;
}

.type-par {
    padding: 1rem 0;
    font-size: 0.8rem;
}

.type-par:not(.grey-par), .button-block, .tt {
    border: 1px solid rgba(102, 102, 102, 0.363);
    margin: -1px;
}

.grey-par {
    color: rgb(102, 102, 102);
}

.button-block {
    background-color: rgb(240, 240, 240);
    padding: 1rem 0;
}

.button {
    padding: 0.6rem 2rem;
    background-color: rgb(0, 158, 138);
    color: white;
    border: none;
}

.button:hover {
    background-color: rgb(39, 177, 158);
    cursor: pointer;
}

.button:active {
    background-color: rgb(0, 158, 138);
}

.bold {
    font-weight: 800;
}

.price {
    padding: 1rem 0 0 0;
    font-size: 2.4rem;
}