* {
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.541);
}

.usercard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 500px;
    border: 3px solid white;
    border-radius: 8px;
    background-color: white;
    overflow: hidden ;
}

.head-background {
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./assets/1669238520_2-pibig-info-p-krasivii-vid-oboi-2.jpg);
}

.man {
    border: 4px solid white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-position: top;
    background-size: 130%;
    background-repeat: no-repeat;
    background-image: url(./assets/Outdoors-man-portrait_\(cropped\).jpg);
    margin-bottom: 0.4em;
    margin-top: -3em;
}

.name {
    font-weight: 800;
    font-size: 1.4em;
    text-transform: uppercase;
    margin: 0.4em 0;
}

.about {
    text-align: center;
    font-size: 1em;
    width: 70%;
    color: grey;
    margin-bottom: 1.8em;
}

svg {
    fill: grey;
    height: 50%;
}