.container {
    display: flex;
    border: 1px solid black;
    margin-bottom: 20px;
    height: 330px;
}

.item {
    width: 80px;
    height: 80px;
    font-size: 2em;
    color: aquamarine;
    background-color: chocolate;
    text-align: center;
    border: 1px solid green;
}

.first {
    justify-content: space-between;
}

.second {
    justify-content: space-around;
}

.third {
    justify-content: space-evenly;
}